{:arm :odd53, :absorbing 0, :derived-rate 0.5, :control-rate 0.5011, :in-run-change-rate 0.24959842192691054, :frozen {0 {:mean 0.0, :sd 0.0}, 1 {:mean 0.0, :sd 0.0}, 2 {:mean 0.0, :sd 0.0}, 3 {:mean 0.0, :sd 0.0}, 5 {:mean 0.0, :sd 0.0}, 10 {:mean 0.0, :sd 0.0}, 15 {:mean 0.0, :sd 0.0}, 20 {:mean 0.0, :sd 0.0}, 30 {:mean 0.0, :sd 0.0}, 40 {:mean 0.0, :sd 0.0}, 60 {:mean 0.0, :sd 0.0}, 100 {:mean 0.0, :sd 0.0}, 200 {:mean 0.0, :sd 0.0}, 300 {:mean 0.0, :sd 0.0}}, :half-freeze-steps {:never 400, :median nil}, :config {:arms [:odd53 :even1 :collapser :even8 :even4], :seeds 400, :seed-base 20260804, :width 80, :steps 300, :checkpoints [0 1 2 3 5 10 15 20 30 40 60 100 200 300], :control-bytes 20000}}