{:checkpoints {0 {:counts {:builder 3, :chaos 1, :collapser 1, :identity 3}, :kind-count 4, :entropy 1.2554823251787535, :spatial-autocorrelation -0.09090909090909091}, 12 {:counts {:builder 0, :chaos 0, :collapser 0, :identity 8}, :kind-count 1, :entropy -0.0, :spatial-autocorrelation 0.0}}, :changed-steps 9, :changed-cells 15, :phenotype-activity 0.4583333333333333, :genotype-rule-count 8, :damage {:exotype 0, :genotype 1, :phenotype 3}}
