{:checkpoints {0 {:counts {:builder 0, :chaos 1, :collapser 0, :even1 3, :even4 1, :even8 1, :fix2 0, :fix3 0, :fix4 0, :fix6 0, :identity 1, :odd53 1}, :kind-count 6, :entropy 1.6674619334292948, :spatial-autocorrelation -0.28}, 12 {:counts {:builder 0, :chaos 0, :collapser 0, :even1 0, :even4 0, :even8 0, :fix2 0, :fix3 0, :fix4 0, :fix6 0, :identity 8, :odd53 0}, :kind-count 1, :entropy -0.0, :spatial-autocorrelation 0.0}}, :changed-steps 6, :changed-cells 11, :phenotype-activity 0.4895833333333333, :genotype-rule-count 8, :damage {:exotype 0, :genotype 1, :phenotype 0}}