{:genotype-rule-count 2.325, :seeds 40, :genotype-diversity 0.0290625, :damage-sd 5.53573617507193, :distinct-exotypes 1.0, :phenotype-activity 0.679375, :blend 0.1, :damage-reach 5.175, :frozen-fraction 0.9981249999999999, :exotype-distribution {:even1 80}}