({:mu 0.1, :lambda 0.55, :arm :next-C, :c nil, :P 9.0, :G 0.0, :X 0.0}
 {:mu 0.1,
  :lambda 0.55,
  :arm :next-C-plus-eig,
  :c 0.05,
  :P 4.5,
  :G 0.0,
  :X 0.0}
 {:mu 0.1,
  :lambda 0.55,
  :arm :next-C-plus-eig,
  :c 0.1,
  :P 13.0,
  :G 0.0,
  :X 1.0}
 {:mu 0.1,
  :lambda 0.55,
  :arm :next-C-plus-eig,
  :c 0.2,
  :P 10.5,
  :G 0.0,
  :X 0.0}
 {:mu 0.1,
  :lambda 0.55,
  :arm :next-C-plus-eig,
  :c 0.5,
  :P 6.5,
  :G 0.0,
  :X 1.0}
 {:mu 0.1,
  :lambda 0.55,
  :arm :next-C-plus-eig,
  :c 1.0,
  :P 8.0,
  :G 0.0,
  :X 0.0}
 {:mu 0.1,
  :lambda 0.55,
  :arm :next-C-plus-eig,
  :c 3.0,
  :P 7.0,
  :G 0.0,
  :X 0.0}
 {:mu 0.3, :lambda 0.55, :arm :next-C, :c nil, :P 9.5, :G 0.0, :X 0.0}
 {:mu 0.3,
  :lambda 0.55,
  :arm :next-C-plus-eig,
  :c 0.05,
  :P 11.0,
  :G 1.5,
  :X 0.0}
 {:mu 0.3,
  :lambda 0.55,
  :arm :next-C-plus-eig,
  :c 0.1,
  :P 6.0,
  :G 0.0,
  :X 0.0}
 {:mu 0.3,
  :lambda 0.55,
  :arm :next-C-plus-eig,
  :c 0.2,
  :P 5.0,
  :G 6.0,
  :X 0.0}
 {:mu 0.3,
  :lambda 0.55,
  :arm :next-C-plus-eig,
  :c 0.5,
  :P 7.5,
  :G 0.0,
  :X 0.0}
 {:mu 0.3,
  :lambda 0.55,
  :arm :next-C-plus-eig,
  :c 1.0,
  :P 3.0,
  :G 0.0,
  :X 0.0}
 {:mu 0.3,
  :lambda 0.55,
  :arm :next-C-plus-eig,
  :c 3.0,
  :P 3.0,
  :G 11.0,
  :X 2.5})
